name: Deploy
on:
  release:
    types:
      - created
  pull_request:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@master
      - run: npm install
      - name: npm run build
        run: npm run build
      - name: Publish
        uses: menduz/oddish-action@master
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
